.logo{
    width: 550px;
    height: auto;
}

#title{
    position: absolute;
    top: 25%;
    left: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title input{
    background-color: #1E1C33;
    border-color: #ffc107;
    margin: 20px 0 10px;
    width: 25%;
    transition: width 0.5s;
}

#title input:hover{
    width: 50%;
    transition: width 0.5s;
}