:root{
    --size: 150px;
    --amber: #ffc107;
}

#game-control .game-control-res #panel-control{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#game-control .game-control-res .lista-names{
    background: white;
    height: 100%;
}

#game-control .game-control-res #panel-control button{
    margin-left: auto;
}

#game-control .game-control-res{
    border: 2px solid var(--amber);
    background-color: #1E1C33;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 10px 30px
}

#game-control .game-control-res .break{
    flex-basis: 100%;
    height: 0;
}

#game-control .list:not(.gameStarted){
    display: none;
}