#background {
    position: absolute;
    top: -20%;
    left: -10%;
    z-index: -100;
}

#background .row{
    position: relative;
    display: flex;
    white-space: nowrap;
    transform: rotate(-4deg);
}

#background .row img{
    opacity: 0.20;
    height: 80px;
    width: auto;

    padding: 10px 10px;
}

#background .row img:hover{
    transform: scale(1.5);
    animation: scaling 0.2s linear;
}@keyframes scaling{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

#background .row div{
    animation: animate 80s linear infinite;
    animation-delay: -80s;
}@keyframes animate{
    0%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(-50%);
    }
} 