#background {
    position: fixed;
    top: -20vh;
    left: 0;
    width: 200vw;
    height: 200vh;
    z-index: -100;
    overflow: hidden;
}

#background .row {
    position: relative;
    display: flex;
    white-space: nowrap;
    transform: rotate(-4deg);
    overflow: hidden;
}

#background .row img {
    opacity: 0.2;
    height: 80px;
    width: auto;
    padding: 10px;
}

#background .row div {
    animation: animate 240s linear infinite;
    animation-delay: calc(-240s + (var(--row-index)) * 2s);
}

@keyframes animate {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
